# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# Data and Models
data/
data/*
models/
models/*
experiments/mlflow/*
experiments/configs/*
.env

chest_Xray/
chest_Xray_old/

# OS
.DS_Store
Thumbs.db

Zoidberg.code-workspace

.github/